.main-footer{
    background-color:green;

}
.seller-footer-section{
display: flex;
justify-content: space-evenly;
margin-top: 30px;
}
.seller-footer-section ul{
list-style: none;
color: white;

}
.seller-footer-section ul li{
    color: white;
    line-height: 25px;
    font-size: 13px;
    text-transform: capitalize;
}
.terms-section{
    display: flex;
    justify-content: space-evenly;
}
.utub{
    color: red;
}